{% extends 'custom_base.html' %}

{% block content %}

        <br>
        <br>
        <h3 class="color_naranja">Formulario para reestablecer su contraseña</h3>
        <p>Introduzca su nueva contraseña dos veces:</p>

        <form method="POST" action="{{endpoint_url}}">
            <div class="mb-3">
                <label for="new_password" class="form-label">Nueva contraseña:</label>
                <input type="password" id="new_password" name="new_password" required  class="form-control" placeholder="Nueva Contraseña"><br>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Repita nueva contraseña:</label>
                <input type="password" id="confirm_password" name="confirm_password" required class="form-control" placeholder="Repita contraseña"><br>      
            </div>
            <div class="text-align-center">
                <button type="submit" class="btn btn-primary mb-3">Cambiar contraseña</button>
            </div>
        </form>
        <br>
        <br>

{% endblock %}
