{% extends "base.html" %}

{% block title %}Nueva contraseña{% endblock %}

{% block content %}

{% if validlink %}
<h1>MetaTierras Colombia</h1>
<h2>Introduzca su nueva contraseña:</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}
<h1>MetaTierras Colombia</h1>
<h2>Error</h2>

<p>El link de reestablecimiento de contraseña es inválido.</p> 
<p>Posiblemente porque ya ha sido usado. </p>
<p>Por favor solicite una nueva contraseña en el menú login de la web 
    de MetaTierras Colombia.</p> 

{% endif %}
{% endblock %}