<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
	<meta name="description" content="MetaTierras Colombia." />
	<meta name="author" content="Gaspar Mora-Navarro, Carmen Femenia-Ribera. Universitat Politècnica de València, Valencia, España" />
	<meta name="keywords" content="Regularización de tierras, Restitución de tierras, Catastro, Colombia" />
	<title>MetaTierras Colombia</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{TEMPLATE_ASSETS_URL}}images/logo.png">
</head>

<body>
    <h3>Éxito</h3>
	<p>Su email ha sido confirmado</p>
	{{MENSAJE}}  
  	<br>
	<p>--</p>
	<p>Saludos,</p>  
	<p>El equipo de MetaTierras Colombia.</p>
	<p>{{WEB_URL}}</p>

</body>

</html>